* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Arial, Helvetica, sans-serif;
}

ul {
  list-style-type: none;
}

.header {
  max-height: 760px;
}

.header__navigation {
  height: 46px;
  width: 100%;
  background-color: black;
  display: flex;
  justify-content: space-between;
  position: fixed;
  top: 0;
  right: 0;
  left: 0;
  z-index: 1;
  box-shadow: 0px 0px 11px -2px #000;
}

.header-navigation__list {
  height: 46px;
  display: flex;
  justify-content: space-around;
}

.header-navigation__items {
  height: 100%;
  position: relative;
}

.header-navigation__items:hover .header-navigation-item__submenu {
  display: block;
}

.header-navigation-item__submenu {
  display: none;
  background-color: white;
  min-width: 160px;
  position: absolute;
  top: 100%;
  left: 0;
}

.header-navigation-item-submenu__item-link {
  padding: 8px 16px;
  text-transform: capitalize;
  text-decoration: none;
  display: block;
  color: black;
}

.header-navigation-item-submenu__item-link:hover {
  background-color: #ccc;
}

.header-navigation__items-link {
  height: 100%;
  color: white;
  font-size: 15px;
  text-transform: uppercase;
  text-decoration: none;
  padding: 12px 24px;
  display: flex;
  align-items: center;
}

.header-navigation__items-link-icon {
  margin-left: 4px;
}

.header__search {
  height: 100%;
}

.header-search__button {
  height: 100%;
  background-color: transparent;
  outline: transparent;
  border: none;
  padding: 12px 24px;
}

.header-search__button-icon {
  color: white;
}

.header-navigation__items:hover .header-navigation__items-link {
  background-color: #ccc;
  color: black;
}

.header-search__button:hover {
  background-color: #f00;
}

.header__banner {
  margin-top: 46px;
  position: relative;
}

.header-banner__img {
  width: 100%;
  -o-object-fit: contain;
     object-fit: contain;
}

.header-banner__article {
  position: absolute;
  bottom: 50px;
  color: white;
  text-align: center;
  width: 100%;
}

.header-banner__article-title {
  text-transform: capitalize;
  font-size: 24px;
}

.header-banner__articcle-description {
  margin-top: 30px;
  font-size: 15px;
}

.section {
  max-width: 800px;
  margin: 0 auto;
  text-align: center;
  padding: 64px 16px;
}

.section-head__title {
  font-size: 30px;
  letter-spacing: 4px;
  text-transform: uppercase;
  margin: 10px 0;
  font-weight: lighter;
}

.section-head__description {
  font-size: 15px;
  margin: 15px 0;
  color: #7c7c7c;
  font-style: italic;
  font-weight: lighter;
}

.section-body__description {
  text-align: justify;
  font-size: 15px;
  line-height: 1.5;
}

.section-body__group {
  display: flex;
  padding: 32px;
}

.section-body-group-member__name {
  font-size: 15px;
  margin: 15px 0;
}

.section-body-group-member__img {
  width: 60%;
  border-radius: 4px;
}

.section-body__list {
  background-color: white;
}

.section-body-list__item {
  padding: 8px 16px;
  border-bottom: solid 1px #ddd;
  text-align: left;
  color: #8b7575;
  font-size: 15px;
}

.section-body-list-item-month__span {
  background-color: red;
  margin-left: 16px;
  display: inline-block;
  padding: 0 8px;
  color: #fff;
  line-height: 1.5;
}

.section-body-list-item-month-span__quantity {
  background-color: #000;
  border-radius: 100%;
  float: right;
  margin-right: 16px;
}

.section-body__tickets {
  margin-top: 32px;
  display: flex;
  margin: 32px -8px 0px;
}

.section-body-tickets__item {
  width: 33.33%;
  text-align: left;
  padding: 0 8px;
}

.section-body-tickets-item__img {
  display: block;
  width: 100%;
}

.section-body-tickets-item__img:hover {
  opacity: 0.6;
}

.section-body-tickets-item__body {
  background-color: white;
  padding: 16px;
  font-size: 15px;
}

.section-body-tickets-item-body__title {
  font-size: 15px;
}

.section-body-tickets-item-body__date {
  margin-top: 16px;
  color: #666666;
}

.section-body-tickets-item-body__description {
  margin-top: 16px;
}

.section-body-tickets-item-body__button {
  background-color: black;
  color: white;
  border: none;
  margin-top: 16px;
  padding: 8px 16px;
}

.section__body-contact {
  display: flex;
  justify-content: space-between;
}

.section-body__label, .section-body__input {
  flex: 1;
}

.section-body-label__name {
  line-height: 1.5;
  font-size: 18px;
  text-align: left;
}

.section-body-label-name__icon {
  display: inline-block;
  width: 40px;
}

.section-body-input__first {
  display: flex;
}

.section-body-input-first__name {
  padding: 8px;
  width: 100%;
  border: solid 1px #ccc;
  line-height: 1.5;
  color: #757779;
  font-size: 16px;
}

.section-body-input-first__name + .section-body-input-first__name {
  margin-left: 10px;
}

.section-body-input__message {
  margin-top: 10px;
}

.section-body-contact__button {
  float: right;
  background-color: black;
  color: white;
  border: none;
  margin: 16px 0;
  padding: 8px 16px;
  text-transform: uppercase;
}

.contain__map {
  margin-top: 90px;
  width: 100%;
}/*# sourceMappingURL=index.css.map */